body{
	background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: center;
    width: 100%;
    height: auto;
    }


  .overlay {
		  display: flex;
		  flex-direction: column;
		  width: 100%;
		  background-color: rgba(255, 255, 255, 0.8);
		  max-width: 550px;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top: 30px;
		  padding-bottom: 10px;
		  margin-bottom: 20px;
		  border-radius: 0.25rem;
          }


    .logo{
		  width: 130px;
		  height: auto;
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
		  
         }

.logo img{
		  width: 100%;
		  height: auto;
		  margin-top: 40px;
          }  

       span{
       	 text-align: center;
       	 font-size: 20px;
       	 font-weight: 500;
       	 padding-top: 5px;
         }
   

       h3{
       	 text-align: center;
       	 padding-top: 10px;
         }

  label{
  	   font-weight: 500;
       }
    

   sup{
	  color: red;
	  font-size: 18px;
      }

         .form{
         	   padding-top: 50px;
	           font-size: 18px;
	           padding-bottom: 50px;
	           margin-left: 60px;
	          }
 
     
        input#name,#age,
		#email,#mobile {
		                padding: 7px;
		                border-radius: 4px;
		                width: 80%;
		                border-color: gray;
		                font-size: 15px;
		                }


        input#submit{
        	         width: 150px;
        	         display: block;
        	         padding: 10px 20px 10px 20px;
        	         cursor: pointer;
        	         color: black;
        	         font-weight: 600;
        	         font-size: 17px;
        	         border-radius: 4px;
        	         }  


        input#submit:hover{
                            background-color: #609DE1;
                            color: white;
                           }          