body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(background-2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}

.logo{
	 width: 130px;
	 height: auto;
    }

.logo img{
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

.flex-container{
               display: flex;
               flex-direction: column;
               flex-wrap: wrap;
               width: 100%;
               height: 100%;
               justify-content: center;
               align-items: center;
               margin-bottom: 50px;
               
             }      


  .headings span{
                 font-size: 18px;
                line-height: 1.3;
                letter-spacing: 0.003em;


                 }

    .headings h1{
    	        font-weight: 500;
    	        text-align: center;
    	        margin-bottom: 0px;
               }   
  
  .text{
	    line-height: 3;
	    text-transform: uppercase;  
	    font-weight: 550;
	    font-size: 13px;
         }

  .inputfield{
  	         width: 350px;
  	         padding: 7px;
  	         font-size: 16px;

             }

    sup{
    	color: red;
    	font-size: 18px;
      }       

      
      a{
    	text-decoration: none;
             
            }


    .forget{
    	   line-height: 1.8;
    	   float: right;
    }

    .captcha{
    	   font-size: 21px;
    	   padding: 3px 25px 3px 25px;
    	   background-image: linear-gradient(to right bottom, #0f59c5, #4766d0, #6773da, #8281e5, #9b8ff0);
    	   color: white;
    	   letter-spacing: 0.289em;
    	   border: none;
    	   line-height: 1.6;
    }


    #captcha{
    	    float: right;
    	    padding: 7px;
    	    font-size: 16px;
    	    width: 120px;
    	    line-height: 0.5;
         }


    .A1 a{
         color: #464342;
         }

    
    .btn1{
        font-size: 18px;
        background-color: #807b7b;
        padding: 7px 6px 7px 6px;
        border: none;
        border-radius: 3px;
        }

    .btn1 a{
           color: white;
           }  

        
  .btn2{
  	   padding: 7px 4px 7px 4px;
       font-size: 18px;
       width: 60px;
       float: right;
       background-color: #4b57ed;
       border: none;
       border-radius: 3px;
        }


  .btn2 a{
  	     color: white;
          }    


   .overlay{
            
            background-color: rgba(255,255,255,0.8);
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-radius: 0.25rem;
          }